body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap; 
  word-break: break-all; 
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.heroimg {
  background-image: url("/gady.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar {
  box-shadow: none !important;
  background-color: rgba(0,0,0,0.0) !important;
}

html, body {
  background-color: black !important;
}

.background {
  background-image: url("/gady.png");
  background-size: cover;
  mask-image: linear-gradient(to bottom,rgba(0,0,0,1) 75%,transparent 100%);
}

@font-face {
  font-family: "Varino-Regular";
  src: url('/fonts/Varino-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Varino-Light";
  src: url('/fonts/Varino-Light.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Space";
  src: url('/fonts/Space.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Ghibli";
  src: url('/fonts/Ghibli.otf') format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Ghibli-Bold";
  src: url('/fonts/Ghibli-Bold.otf') format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Fago";
  src: url('/fonts/Fago.otf') format("opentype");
  font-display: swap;
}

h1,h2,h3,h4,h5,h6,p,a {
  color: white;
}

h1 {
  font-family: 'Varino-Light';
  font-weight: 100 !important;
  font-size: 3rem !important;
  letter-spacing: 0.15rem !important;
  filter: drop-shadow(0 0 8px rgba(248,235,201,.3)) blur(0.25px);
}

.varino {
  font-family: 'Varino-Light';
  font-weight: 100 !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.15rem !important;
}

h5 {
  font-weight: 400 !important;
  font-size: 1.2rem !important;
  letter-spacing: 0.025rem !important;
}

p {
  /* font-family: 'Ghibli' !important; */
  font-weight: 100 !important;
  font-size: 1.2rem !important;
  letter-spacing: 0.025rem !important;
}

.heroimg2 {
  margin-top: -8rem;
  background-image: url("/gady.png");
  background-size: cover;
  mask-image: linear-gradient(to bottom,rgba(0,0,0,1) 75%,transparent 100%);

  /* background-image: url("/slide.png");
  background-size: cover;
  mask-image: linear-gradient(to top,rgba(0,0,0,1) 75%,transparent 100%); */
}

.tapehero {
  background-image: url("/bg2.png");
  background-size: cover;
  mask-image: linear-gradient(to top,rgba(0,0,0,1) 75%,transparent 100%);
}

.nav-container {
  /* position: fixed; */
  top: 0;
  z-index: 1030;
  border-bottom: 0.5px solid var(--light);
}

.navbar-nav .nav-link {
  color: white !important;
}

@media (max-width: 900px) {
  .nav-container {
    border-bottom: none;
  }
}