body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  white-space: pre-wrap; 
  word-break: break-all; 
}

p code {
  color: var(--secondary);
  font-weight: 600;
}

#__next {
  height: 100%;
}

#nav-mobile {
  min-height: 170px;
}

.nav-item.dropdown .dropdown-item {
  padding: 0;
}

.nav-item.dropdown .dropdown-item a {
  color: inherit;
}

.nav-item.dropdown .dropdown-item .navbar-item {
  width: 100%;
  padding: .55rem 1.5rem;
}

.result-block-container .result-block {
  opacity: 1;
}

.heroimg {
  background-image: url("/gady.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mt-5 {
  margin-top: 0rem !important;
}

.container .mt-5 {
  margin-top: 0rem !important;
}

.navbar {
  box-shadow: none !important;
  background-color: rgba(0,0,0,0.0) !important;
}

.background {
  background-image: url("/gady.png");
  background-size: cover;
}

@font-face {
  font-family: "Varino-Regular";
  src: url('/fonts/Varino-Regular.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Varino-Light";
  src: url('/fonts/Varino-Light.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Space";
  src: url('/fonts/Space.ttf') format("truetype");
  font-display: swap;
}

